body{
    background-color: #008bc7;
    color: #ffffff;
    width:500px;
    margin-right: auto;
    margin-left: auto;
}
button{
    padding: 10px 15px;
    background-color: #f37ab7;
    border-style: none;
}
input{
    height: 30px;
}
